In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set_style('white')
import matplotlib.pyplot as plt

/home/janos/anaconda3/envs/morris/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Comparison with Paper and Tobias Stenzel

In [11]:
res_ts = pd.read_pickle("../thesis-projects-tostenzel/scripts/example_1_radial.pickle")
res_ts = res_ts[["abs_ee_ind", "abs_ee_full", "sd_ee_ind", "sd_ee_full"]].round(2)
res_ts

    abs_ee_ind  abs_ee_full  sd_ee_ind  sd_ee_full
x1        0.57         6.84       0.10        1.15
x2        0.85         7.77       0.41        3.68
x3        1.31         4.19       0.22        0.70

In [13]:
res_ts = pd.read_pickle("../thesis-projects-tostenzel/scripts/example_1_radial.pickle")
res_ts = res_ts[["abs_ee_ind", "abs_ee_full", "sd_ee_ind", "sd_ee_full"]].round(2)
res_ts

    abs_ee_ind  abs_ee_full  sd_ee_ind  sd_ee_full
x1        0.57         6.84       0.10        1.15
x2        0.85         7.77       0.41        3.68
x3        1.31         4.19       0.22        0.70

In [6]:
correct = [
    [0.6, 7.5, 0.3, 3],
    [0.75, 6.75, 0.3, 2.6 ],
    [1.5, 4.6, 0.8, 2.3],
]
correct = pd.DataFrame(data=correct, columns=res_ts.columns, index=res_ts.index)
correct

    abs_ee_ind  abs_ee_full  sd_ee_ind  sd_ee_full
x1        0.60         7.50        0.3         3.0
x2        0.75         6.75        0.3         2.6
x3        1.50         4.60        0.8         2.3

In [41]:
our_res = pd.read_pickle("our_example_1_radial.pickle").round(2)
our_res = our_res.rename(columns={
    "mu_ind": "abs_ee_ind", "sigma_ind": "sd_ee_ind",
    "mu_corr": "abs_ee_full", "sigma_corr": "sd_ee_full"
})
our_res

    abs_ee_ind  abs_ee_full  sd_ee_ind  sd_ee_full
x1        0.57         6.84       0.10        1.15
x2        0.85         7.77       0.41        3.68
x3        1.31         4.19       0.22        0.70

In [39]:
our_res = pd.read_pickle("our_example_1_radial.pickle").round(2)
our_res = our_res.rename(columns={
    "mu_ind": "abs_ee_ind", "sigma_ind": "sd_ee_ind",
    "mu_corr": "abs_ee_full", "sigma_corr": "sd_ee_full"
})
our_res

    abs_ee_ind  abs_ee_full  sd_ee_ind  sd_ee_full
x1        0.69         8.29       0.41        4.86
x2        0.75         6.84       0.52        4.69
x3        1.59         5.08       1.03        3.27

In [46]:
remote = pd.read_pickle("bld/indices/kw_indices_backup.pickle")
local = pd.read_pickle("bld/indices/kw_indices.pickle")
from pandas.testing import assert_frame_equal

In [47]:
assert_frame_equal(remote, local)

In [50]:
a = np.arange(5)
a.std()

1.4142135623730951

In [52]:
np.sqrt((a ** 2).sum() / 5)

2.449489742783178

In [ ]:
def _cum_sd(arr)